@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --bg-color: black;
    --primary-color: white;
    --secondary-color:#322e2f;
    --accent-skyblue-color:skyblue;
    --accent-yellow-color:#FFE45C;
    --heading-font: 2.5rem;
    --title-font: 5rem;
    --family-font: 'Roboto', sans-serif;
    --title-color: black;
    --transparent-color: transparent;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: var(--family-font);

}
header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: capitalize;
    padding: 1rem;
    position: fixed;
    z-index: 999;
    box-shadow: 2px 6px 15px black;
    transition: all .5s linear;
}
.header-onscroll{
    transition: all .3s linear;
    background-color: skyblue;   

    box-shadow: 2px 6px 15px black;
}
nav ul .a-onscroll{
    
    
}
.logo{
    font-size: 2rem;
    text-transform: uppercase;
    color:var(--primary-color);
    font-weight:bold;
    
}

nav ul{
    display: flex;
    justify-content: center;
    
}
nav ul li{
    list-style: none;
}

nav ul li a{
    color:var(--primary-color);
    text-decoration: none;
    padding: 0 10px;
    cursor: pointer;
    font-size: 1.2rem;
}
nav ul li a:hover{
    color: lightgray;
}

.burger-bar{
    display: none;
}
.social-media {
    position: absolute;
    bottom: 50%;
    position: fixed;
    z-index: 99;
    width: 50px;
}

.social-media li {
    height: 50px;
    position: relative;
    list-style: none;
}

.social-media li a{
    display: block;
    color: var(--primary-color);
    width: 100%;
    height: 100%;
    line-height: 50px;
    padding-left: 10px;
    text-decoration: none;
    transition: all linear .3s;
    font-size: 1.5rem;
}


.linkedin {
    background-color:#0e76a8;
    
}
.github{
    background-color: #171515;
}
.gmail{
    background-color: #DB4437;
}

.social-media li a i{
    position: absolute;
    top: 17px;
    letter-spacing: 18px;

}
.social-media li a span{
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 45px;
    display: none;
}

.social-media a:hover{
    width: 220px;
    border: 1px solid #333;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.social-media a:hover span{
    display: block;
}

.btn-gradient{
    width: 550px;
    height: 60px;
    border-radius: 1rem;
    display: grid;    
    background: rgb(181, 60, 255);
    background: linear-gradient(235deg, rgba(181, 60, 255, 1) 24%, rgba(0, 232, 255, 1) 64%, rgba(29, 0, 255, 1) 90%);
    padding: 5px;
}

.download-resume,.project-btn{
    background-color: var(--bg-color);
    border: none;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--primary-color);
    text-transform: capitalize;
}

.download-resume:hover,
.project-btn:hover{
    background-color: rgb(46, 46, 46);
    
}
.hero i {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 8rem;  
    color: #4d4d4d;
}
.hero {
    line-height: 6rem;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--bg-color);
    width: 100%;
    height: 98vh;
    color: var(--primary-color); 
}
.subtitle-2{
    font-size: 3rem;
}
.name{
    font-size: 4.5rem;
}
.subtitle{
    font-size: 3rem;
    font-family: serif;
}
.about{
    width: 100%;
    height: 100vh;

}
.about-me-title{
    font-size: 10rem;
    text-align: center;
    text-transform: lowercase;
    color: var(--bg-color);
    margin-bottom: 10rem;
    transition: all .4s linear;
}
.about-me-h1-onscroll{
    transition: all .4s linear;
    font-size: 5rem;
    color: var(--bg-color);
    margin: 5rem 0;
}
.about-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.about-img img{
    background-size: cover;
    width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    box-shadow: 2px 10px 9px gray;
}
.about-img img,.bio-txt{
    
    width: 400px;
}
.bio-txt{
    line-height: 1.7rem;
    font-size: 1.3rem;
}

.project{
    height: 100vh;
    background-color: var(--bg-color);
    display: grid;
    justify-content: center;
    align-items: center;
}
.card-container{
    display: flex;
    justify-content: center;
    border: 1px solid rgb(70, 70, 70);
    padding: 3rem;
    gap: 10px;

}
.card{
    max-width: 400px;
    width: 100%;
    background-color:var(--primary-color);
    position: relative;
    cursor: pointer;
}
.card-image{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-content-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #171515be;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px 0;
    padding: 10px;

}
.card:hover .card-content-overlay{
    opacity: 1;
}
.card-content-overlay p{
    color: var(--primary-color);
    text-transform: capitalize;
}
.card-content-overlay a{
    color: var(--primary-color);
    border: 1px solid white;
    text-decoration: none;
    width: 50px;
    height: 30px;
    display: grid;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.card-content-overlay a:hover{
    background-color: rgba(211, 211, 211, 0.432);
}
